<h3>Edit This Sealion</h3>

<form action="/sealions/<%=@current_sealion.id%>/edit" method="post">
   <input type='hidden' name='_method' value='put' />
    <input type="text" placeholder="First and Last Name" name='name'/>
    <input type="text" placeholder="Email Address" name='email'/>
    <input type="text" placeholder="Quirk" name='quirk'/>
    <input type="submit" value="Update Sealion" />
  </form>