<h3>Create a new Sealion:</h3>

  <form action="/sealions" method="post">
    <input type="text" placeholder="First and Last Name" name='name'/>
    <input type="submit" value="Add Sealion" />
  </form>