
<h3> Sealion Info: </h3>

  <p>Name: <%= @current_sealion.name %> </p>
  <p>Quirk: <%= @current_sealion.quirk %> </p>
  <p>Email: <%= @current_sealion.email %> </p>

  <a href= "/sealions/<%=@current_sealion.id %>/edit">Edit Sealion</a>

  <!-- Insert Delete Link here -->
