<h3>Here are the Sealions:</h3>

<ul>
<% @all_sealions.each do |sealion| %>
  <li>
    <a href= "/sealions/<%=sealion.id%>"><%=sealion.name %></a>
  </li>

<% end %>

</ul>

 <a href= "/sealions/new">Create a New Sealion</a>
